.codeutsava__section1 {
  /* display: flex; */
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.codeutsava__section1-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.codeutsava__section1-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.codeutsava__section1-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 82px;
  color: #ffffff;
  margin: 1rem;
}

.codeutsava__section1-subheading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 1px;
  color: #38b6ff;
  text-transform: uppercase;
}

.codeutsava__section1-para {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

.codeutsava__section1-image {
  width: 100%;
  z-index: 1;
  margin-bottom: 4rem;
}

.codeutsava__section1-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  width: 50%;
}

.codeutsava__section1-button {
  align-items: center;
  background-color: #f3f6fb;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #000;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  height: 44px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

.codeutsava__section1-devfolio {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.codeutsava__section1-discord {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f3f6fb;
  padding: 9px 14px 8px;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.codeutsava__section1-discord-link img {
  height: 25px;
  width: auto;
}

@media screen and (max-width: 650px) {
  .codeutsava__section1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .codeutsava__section1-body {
    max-width: 300px;
  }
  .codeutsava__section1-heading {
    font-size: 40px;
    margin: 0;
  }
  .codeutsava__section1-subheading {
    font-size: 20px;
    letter-spacing: 0;
  }
  .codeutsava__section1-para {
    font-size: 18px;
  }
  .codeutsava__section1-image {
    margin-bottom: 1rem;
  }
  .codeutsava__section1-button-container {
    width: 100%;
  }
}
