.codeutsava_section9{
    padding-top: 2rem;
    padding-bottom: 2rem; 
    color: white;
    font-family: 'Poppins'; 
}

.codeutsava_section9-boxtitle,.codeutsava_section9-box,.codeutsava_section9-title {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.codeutsava_section9-description{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.codeutsava_section9-body{
   display: flex;
   flex-direction: row;
}

.codeutsava_section9-title1{
    font-style: medium;
    font-weight: 470;
    font-size: 48px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;
}

.codeutsava_section9-title2{
    font-style: medium;
    font-weight: 370;
    font-size: 40px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;
}

.codeutsava_section9-box{
    width: 40%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
    border: 60px solid #222222;
    border-radius: 40px;
    margin: 2rem 0;
}

.codeutsava_section9-boxtitle{
    font-size: 30px;
    font-style: normal;
    margin: 4% 0;
    padding-bottom: 3%;
}
