.codeutsava__team {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Poppins";
}

.codeutsava__team-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.codeutsava__team-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    margin-top: 4rem;
  }

.codeutsava__team-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
  margin: 4rem 0;
  color: white;
}

.codeutsava__team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .codeutsava__team-speakers {
    gap: 2rem;
    flex-direction: column;
  }
  .codeutsava__team-title {
    font-size: 36px;
  }
}
