@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.codeutsava__event-card{
    /* background-color: blueviolet; */
    padding: 1rem 2rem;
    padding-bottom: 0;
    margin: 0 1rem;
    font-family: 'Poppins', sans-serif; 
}

.codeutsava__event-cardtitle{
    font-weight:bolder;
    margin: 0.5rem 0;
}

.codeutsava__event-line{
    border: 0.1px solid rgb(230, 230, 230);
    margin: 0.5rem 0;
    font-weight: lighter;
}

.codeutsava__event-carddetails{
    margin: 0.5rem 0;
    color: rgb(220, 220, 220);
}

.codeutsava__event-image-element{
    width: 100%;
    border-radius: 11px;
}

.codeutsava__event-image-element:hover{
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
@media(width<900px){
    .card-hidden{
        display: none;
    }
}