.codeutsava__section11-events-container .slider .slick-list {
    margin: 0 2rem;
    box-sizing: initial;
    padding: 80px 0px;
    overflow-y: visible;
  }
  
  .slick-prev:before,
  .slick-next:before {
    display:none;
  }
  
  .codeutsava__section11-events-container .slider .slick-arrow .slick-prev button{
    display: none;
  }
  .codeutsava__section11-events-container .slider .slick-list .slick-slide > div {
    padding: 0 35px;
  }
  
  @media (min-width: 1024px) {
    .codeutsava__section11-events-container
      .slider
      .slick-list
      .slick-slide.slick-active.slick-current
      + .slick-slide {
      transition: all 1000ms ease-out;
      scale: 1.1;
      transform: translateY(50px);
    }
  }

.codeutsava__section11-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 650px;
}

.codeutsava__section11-image {
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.codeutsava__section11-image:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.codeutsava__section11-cardTitle {
  font-weight: 600;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.codeutsava__section11-divider {
  border: 0.1px solid rgb(230, 230, 230);
  margin-top: 0.5rem;

  font-weight: lighter;
  width: 100%;
}

.codeutsava__section11-details {
  margin-top: 1rem;
  color: rgb(220, 220, 220);
}

.codeutsava__section11-button {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 12px 40px;
    width: 60%;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #d7d7d7;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  
  .codeutsava__section11-button:hover {
    transition: all 0.2s ease-in-out;
    color: white;
    background-color: #38b6ff;
    border: 1px solid #38b6ff;
  }
