.codeutsava__navbar{
    z-index: 9999;
    width: 100%;
    position: sticky;
    top: 0px;
}

.codeutsava__navbar-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
}

.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

.codeutsava__navbar-logo {
    max-width: 90px;
}
.codeutsava__navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.codeutsava__navbar-menu-heading {
    font-family: var(--font-family);
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 2rem;
    color: #F0F0F0;
    cursor: pointer;
}
.codeutsava__navbar-menu-heading:hover {
    color: #38B6FF;
   
}
.codeutsava__navbar-menu-heading:after {
    display:block;
    content: '';
    border-bottom: 2px solid #38B6FF;
    transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.codeutsava__navbar-menu-heading:hover::after {
    transform: scaleX(1);
}